#Container {
    width:800px;
    height:auto;
    margin-left:auto;
    margin-right: auto;
    background-color: dimgrey;
    margin-top:10px;
    margin-bottom: 20px;
}

#Header {
 height: 150px;
 background-color: dimgray;
}

h1 {
    color:coral;
    font-weight: 800;
    font-size: 50px;
    line-height: 1.8em;
    text-align: center;
    text-decoration-color: blanchedalmond;
}

#navbar {
    height: 60px;
    background-color: brown;
    border: 1px solid brown;
     
    
}
#navbar ul {
    margin:0;
    padding:0;
}
#navbar li {
    list-style-type:none;
    float:left;
    display:block;
    width:150px;
    height: 60px;
    font-family: Tahoma, Geneva,sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    
}
#navbar li a {
    text-decoration: none;
    color:chartreuse;
    text-shadow: 3px 2px 3px #333333;
    
    }

.active {
    background-color:bisque;
    border-radius: 2px;
}

li a:hover {
background-color: chocolate;
}

#section {
    width:650px;
    height: 450px;
    float:right;
    margin-top: inherit;
    margin-bottom: inherit;
    background-color: darkred;
}

#section ul {
    margin:0;
    padding:0;}

#section li {  
    font-size: 15px;
    font-weight: 100;
  
   
}


#section li a { 
  
    font-family: cursive;
    text-decoration: none;
    display:inherit;
    padding:12px;
    color: antiquewhite;

}


li a {
    display: block;
    width 60px;
    
}


#sidebar
{

    height: 450px;
    width:150px;
    border-radius: 5px;
    background-color: burlywood;
    float:left;
    margin-top: inherit;
    text-align: center;
    font-size: 60px; 
}

   #footer p{

    font-family: Georgia, signika;
     font-size: 50px; 
    font-style: italic;
    text-shadow: 5px, 5px 5px #CCCCCC;
}

span {
  color:brown;
}
#footer {
    height: 80px;
    clear:both;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 5px;
    
}
#footer p {
    font-family: Tahoma, Geneva,sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 3px 2px 3px #333333;
   
}

h2 {
    font-size: 24px;
    color:bisque;
}

#navbar2 {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color:floralwhite;
    
}